<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Имитация регистрации</title>
</head>
<body>
    <h2>{{ error }}</h2>
    <form method="post">
        {% csrf_token %}
        <table for="username">Введите логин</table>
        <input type="text" id="username" name="username" maxlength="30" required>
        <br>
        <br>

        <table for="password">Введите пароль</table>
        <input type="password" name="password" minlength="8">
        <br>
        <br>

        <table for="repeat_password">Повторите пароль</table>
        <input type="password" name="repeat_password" minlength="8">
        <br>
        <br>

        <table for="age">Введите свой возраст</table>
        <input type="text" name="age" maxlength="3">
        <br>
        <br>

        <button type="submit">Отправить</button>
    </form>
</body>
</html>